# Local Terraform directory
.terraform/

# State files
*.tfstate
*.tfstate.*


# Terraform variable files
*.tfvars
*.tfvars.*

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Saved plan files
*.tfplan